.app-base-list {
  .card {
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;

    .ant-form-item {
      margin-bottom: 10px !important;
    }
  }

  .table {
    .ant-table-thead {
      tr {
        th {
          color: #141718 !important;
          background: #F1F5F9 !important;
          font-size: 13px !important;
          font-weight: 600 !important;
        }
      }
    }

    .ant-table-tbody {
      tr {
        td {
          color: #141718 !important;
          font-size: 13px !important;
          font-weight: 500 !important;
        }
      }
    }
  }
}